// Define variables for your color scheme

// For example:
$red: #B33771;
$blue: #25CCF7;
$dark-blue: #182C61;
$yellow: #EAB543;
$orange: #F97F51;
$green: #55E6C1;
$gray: #2C3A47;
$light-gray: #CAD3C8;
